################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnnotationProject/AnnotationProject.Domain/Commands/AnnotationCommand.cs
