################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnnotationProject/AnnotationProject.Domain/Commands/AnnotationCommand.cs
/AnnotationProject/AnnotationProject.Domain/Entities/Annotation.cs
/AnnotationProject/AnnotationProject.Shared/Entities/Entity.cs
/AnnotationProject/AnnotationProject.Domain/Repositories/IAnnotationRepository.cs
/AnnotationProject/.vs
